.about-page{
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    @include md{
        margin-top: 100px;
    }
   

    &__content{
        width: 90vw;
        padding: 100px 0;

        @include lg{
            width: 80%;
        }
        @include xl{
            width: 70%;
        }
        color: $primary-color;
    }

    &__heading{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding-bottom: 50px;
        border-bottom: 1px solid $primary-color;
          

        &-content{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            @include md{
                flex-direction: row;
            }
            @include xl{
                width: 100%;
            }
            &-p{
                width: 100%;
                @include md{
                    width: 60%;
                }
                @include xl{
                    width: 50%;
                }

                text-align: justify;
            }   
            &-action{
                margin-top: 10px;
                button{
                    padding: 20px;
                    border: 1px solid $primary-color;
                }
                @include md{
                    margin-top: 0;
                }
            }
        }
    }
    &__objective {
        width: 100%;
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid $primary-color;
        flex-direction: column;
        border-top: 1px solid $primary-color;
        @include md{
            flex-direction: row;
        }
        &-text{
            width: 90%;
            text-align: justify;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            @include md{
                width: 50%;
            }
            @include lg{
                width: 50%;
            }
            .objective-heading{
                width: 80%;
                height: 30%;
                text-align: center;
            }
            .objective-parragraph{
                height: 60%;
                width: 90%;
            }
        }
        &-img{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            @include md{
                width: 50%;
            }
            
            img{
                width: 70%;

            }
        }
    }
    &__belief{
        width: 100%;
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        border-bottom: 1px solid $primary-color;
        &-text{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            text-align: justify;
            .belief-heading{
                text-align: center;

            }
        }
        &-img{
            width: 100%;
            padding-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 90%;

            }
        }
    }

    &__projects{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        padding: 50px 0;
        &-heading{
            width: 100%;
            border-bottom: 1px solid $primary-color;
            padding-bottom: 50px;
            
        }
        &-proj{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            border-bottom: 1px solid $primary-color;
            padding: 30px 0;
            &:last-child{
                border-bottom: none;
            }
            .proj-heading{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include md{
                    width: 90%;
                }
                
                a{
                    color: $primary-color;
                }
            }
            .proj-img{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                &__mobile{
                    width: 35%;
                    img{
                        width: 90%;

                    }
                }
                &__desktop{
                    width: 65%;
                    img{
                        width: 100%;
                    }
                }

            }
        }
    }

    &__cta{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 50px 0;
        border-top: 1px solid $primary-color;
        &-heading{
            text-align: center;
        }
        &-content{
            text-align: justify;
        }
        button{
            margin-top: 50px;
            padding: 20px;
            width: 100%;
            border: 1px solid $primary-color;
        }
    }
    
}