.content-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    .isotype-wrapper{
        width: 50%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        .isotype{
            width: 30vmin;
            @include md{
                width: 22vh;
            }
        }
    }
    .logotype-wrapper{
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: {
            top: 1px solid $secondary-color;
            bottom: 1px solid $secondary-color;
        }
        h1{
            margin: 0;
            font-size: 6.5vw;
            
            @include md{
                font-size: 5vw;    
            }
            @include lg{
                font-size: 3vw;    
            }
        }
    }
    .main-content-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 50%;
        flex-direction: column;
        button{
            width: 60%;
            height: 20%;
            @include md{
                width: 40%;
                height: 15%;
            }
            @include lg{
                width: 20%;
            }
            @include xl{
                width: 15%;
            }

        }
    }
    .socials-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 10%;
        border-top: 1px solid $secondary-color;

        .icon{
            height: 3vmax;

            @include lg {
                height: 1.8vmax;
            }
            color: $secondary-color;
        }
    }
}

.infinite-text{
    width: 500vw;
    height: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    transform: translateX(-20%);
    @include lg{
        width: 250vw;
        transform: translateX(-10%);
    }
        .box{
            width:50vw;
            @include lg{
                width: 25vw;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            text-align:center;
        }

}