.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 120vw;
    height: 120vh;
    content:"";
    opacity: 0.05;
    z-index: 10;
    pointer-events: none;
    background: url("/gifs/noise.gif") repeat;
    background-size: 70%;

    @include md{
        background-size: 30%;
    }
    @include lg{
        background-size: 20%;
    }
}


